<form
  (submit)="submit()"
  style="height: 80vh"
  class="w-full flex items-center justify-center flex-col"
>
  <h1 class="text-3xl text-center font-bold text-gray-700">
    Forgot your password?
  </h1>
  <div class="w-full flex items-center justify-center">
    <div class="w-96">
      <app-text
        name="Please enter the email address associated with your account and We will email you a link to reset your password."
        addClass="text-center"
      ></app-text>
    </div>
  </div>
  <div class="py-6">
    <app-input
      id="test-email-field"
      label="Email Address"
      placeholder="Email address"
      addClass="w-96"
      [value]="email"
      (onchange)="changeToken($event)"
      [isLoading]="isLoading"
    ></app-input>
  </div>
  <app-button name="Send Request" addClass="w-72"></app-button>
</form>
